<div class="route_div centered_horizontal centered_col scroll" ng-controller="profile" ng-init="blur_all()">
	<div class="avatars centered centered_col">
		<h2>Choose your avatar!</h2>
		<br/>
		<div class="avatar_holder centered centered_row">
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('1')">
				<img src="assets/img/avatars/1.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('6')">
				<img src="assets/img/avatars/6.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('2')">
				<img src="assets/img/avatars/2.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('7')">
				<img src="assets/img/avatars/7.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('3')">
				<img src="assets/img/avatars/3.png"/>
			</div></a>
		</div>
		<div class="avatar_holder centered centered_row">
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('8')">
				<img src="assets/img/avatars/8.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('4')">
				<img src="assets/img/avatars/4.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('9')">
				<img src="assets/img/avatars/9.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('5')">
				<img src="assets/img/avatars/5.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('10')">
				<img src="assets/img/avatars/10.png"/>
			</div></a>
		</div>
		<div class="avatar_holder centered centered_row">
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('11')">
				<img src="assets/img/avatars/11.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('12')">
				<img src="assets/img/avatars/12.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('13')">
				<img src="assets/img/avatars/13.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('14')">
				<img src="assets/img/avatars/14.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('15')">
				<img src="assets/img/avatars/15.png"/>
			</div></a>
		</div>
		<div class="avatar_holder centered centered_row">
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('16')">
				<img src="assets/img/avatars/16.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('17')">
				<img src="assets/img/avatars/17.png"/>
			</div></a>
			<a href="" class="centered"><div class="avatar centered" ng-click="choose_avatar('18')">
				<img src="assets/img/avatars/18.png"/>
			</div></a>
		</div>
		<button class="personalize_button" ng-click="finish_profile()">Finish</button>
	</div>
</div>