<div class="route_div centered centered_col" ng-controller="profile" ng-init="blur_all()">
	<div class="welcome centered centered_col">
		<h2>Hello there, {{login_text}}!</h2>
		<h4>We've put a lot of effort into this.</h4>
		<h6>Go on! Press the orange button</h6>
		<a href="#avatar">
			<button class="personalize_button">Personalize</button>
		</a>
	</div>
</div>