<div class="route_div scroll" ng-controller="edit_entry">
	<h2>Schedule</h2>
	<table class="my_table" ng-init="get_schedule()">
		<tr class="border-bottom">
			<th>Id</th>
			<th>From</th>
			<th>To</th>
			<th>Program</th>
			<th>Host</th>
			<th>Status</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="data in schedule">
			<td>{{data.id}}</td>
			<td>{{data.from}}</td>
			<td>{{data.to}}</td>
			<td>{{data.program}}</td>
			<td>{{data.host}}</td>
			<td>{{data.status}}</td>
			<td><button class="short_round" ng-click="edit_entry(data.id)">Edit</button></td>
			<td><button class="short_round" ng-click="delete_schedule_entry(data.id)">Delete</button></td>	
		</tr>
		
	</table>
	<form class="">
		<h2>Insert Entry</h2>
		<table class="my_table">
			<tr>
				<td>
					<input type="text" ng-model="ins_from" class="long" placeholder="from (format 2015-07-06 03:30:00)">
				</td>
				<td class="">
					<button class="" ng-click="">Get today's date</button>
				</td>
			</tr>
			<tr>
				<td>
					
					<input type="text" ng-model="ins_to" class="long" placeholder="from (format 2015-07-06 03:30:00)">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" ng-model="ins_program" placeholder="program" class="long">
				</td>
				</tr><tr>
				<td>
					<input type="text" ng-model="ins_host" placeholder="host" class="long">
				</td>
			</tr>
			<tr rowspan="2">
				<td>
					<button class="" ng-click="insert_entry(ins_from,ins_to,ins_program,ins_host)">Insert</button>
				</td>
			</tr>
		</form>
	</tr>
</table>	
</div>			
