<div ng-controller="edit_entry" class="route_div centered centered_col">
	
	<h2>
		Edit Entry for Id {{id_to_be_edited}}
	</h2>
	
	<form class="centered centered_col">
		<table class="table table-striped table_hover">
			<tr>
				<td>
					<input type="text" ng-model="from_edit" placeholder="date" class="textbox">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" ng-model="to_edit" placeholder="time" class="textbox">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" ng-model="program_edit" placeholder="program" class="textbox">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" ng-model="host_edit" placeholder="host" class="textbox">
				</td>
			</tr>
			<tr rowspan="2">
				<td>
					<button class="btn btn-default" ng-click="update_entry()">Update</button>
				</td>
			</tr>
		</table>
		<a href="#edit_schedule">
			<button>Back</button>
		</a>
	</form>
</div>	