<div class="route_div" ng-controller="ctvapp_controller">
	<transition class="centered centered_col center_fix" ng-init="switch_back()">
		<h2>You don't have to bewildered forever!</h2>
		<h2>Mail us!</h2>
		<hr></hr>
		<div class="help centered_row">
			<img src="assets/img/email.png">
			<span>
				netadmin@karunya.edu
			</span>
		</div>
		<div class="help centered_row">
			<img src="assets/img/email.png">
			<span>
				campustv@karunya.edu.in	
			</span>
		</div>
	</transition>
</div>