<div class="col-sm-12 nopadding centered centered_col" ng-controller="ctvapp_controller" ng-init="switch_back()">
	<transition class="route_div_home col-sm-12 centered">
		<video id="my_video_1" class="video-js vjs-sublime-skin" controls preload="auto" width="640" height="360" 
		data-setup='{
			"controls":"true",
			"autoplay":"true"
		}'>
			<!-- <source src="rtmp://cp67126.edgefcs.net/ondemand/&mp4:mediapm/ovp/content/test/video/spacealonehd_sounas_640_300.mp4" type='rtmp/mp4'> -->
			<source src="rtmp://192.168.2.252/live/campustv" type='rtmp/mp4'>
		</video>	
		
	</transition>
	<div class="video_info centered centered_row">
		<div class="now_playing_sign">
			Todays visits : {{visits}}
		</div>
		<div class="now_playing_text" ng-init="get_now_playing()">{{now_playing.program}}</div>
	</div>
	<div class="footer centered col-sm-12">
		<Span> Department of Electronics and Media Technology & Computer Technology Centre</Span>
	</div>
</div>
