<div class="route_div centered centered_col" ng-controller="edit_entry">
	<h2>Someone got lucky!</h2>
	<form ng-submit="make_admin(to_be_admin)" class="centered centered_col">
		<input ng-model="to_be_admin" placeholder="Enter Your Seraph ID">
		<button>Go</button>
	</form>
	<h2>Someone got unlucky!</h2>
	<form ng-submit="make_normal(to_be_normal)" class="centered centered_col">
		<input ng-model="to_be_normal" placeholder="Enter Your Seraph ID">
		<button>Go</button>
	</form>
</div>