<div class="route_div centered_horizontal centered_col center_fix scroll" ng-controller="requests" ng-init="load_requests()">
	<h2 class="blur">Hello Deepan!</h2>
	<hr/>
	<script>
		$(document).ready(function(){
			$(".request").focus(function(){
				$(".blur").css({
					'opacity':'0.2'
				});
			}).blur(function(){
				$(".blur").css({
					'opacity':'1'
				});
			}); 
			
			$(".view_prev_requests").click(function(){
				$(".previous_requests").toggleClass('show_prev_requests');
			})
		});
	</script>
	
	<table class="my_table">
		<tr>
			<th>
				Sl.
			</th>
			<th>
				Show Requested
			</th>
			<th>
				User Requested
			</th>
			<th>
				
			</th>
			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
		<tr ng-repeat="data in user_requests">
			<td>
				{{$index}}
			</td>
			<td>
				{{data.show_name}}
			</td>
			<td>
				{{data.from_user}}
			</td>
			<td class="">
				<span ng-if="data.approve!='disapproved' && data.approve!='approved'">
					<a href="" ng-click="approve_requests(data.from_user,data.show_name,'approved')">Approve</a>/
					<a href="" ng-click="approve_requests(data.from_user,data.show_name,'disapproved')">Disapprove</a>
				</span>
				<span ng-if="data.approve=='disapproved'">
					<a href="" ng-click="approve_requests(data.from_user,data.show_name,'approved')">Approve</a>
				</span>
				<span ng-if="data.approve=='approved'">
					<a href="" ng-click="approve_requests(data.from_user,data.show_name,'disapproved')">Disapprove</a>
				</span>
			</td>
			<td>
				<td class="">
				<span ng-if="data.flag!='flagged' && data.flag!='unflagged'">
					<a href="" ng-click="flag_requests(data.from_user,data.show_name,'flagged')">Flag</a>/
					<a href="" ng-click="flag_requests(data.from_user,data.show_name,'unflagged')">Unflag</a>
				</span>
				<span ng-if="data.flag=='unflagged'">
					<a href="" ng-click="flag_requests(data.from_user,data.show_name,'flagged')">Flag</a>
				</span>
				<span ng-if="data.flag=='flagged'">
					<a href="" ng-click="flag_requests(data.from_user,data.show_name,'unflagged')">Unflag</a>
				</span>
			</td>
			</td>
			<td>
				<button class="request_button" ng-click="delete_requests(data.from_user,data.show_name)">Delete</button>
			</td>
		</tr>
		
	</table>
</div>			
