<div class="route_div centered centered_col" ng-controller="requests">
	<h2 class="blur">Request a show!</h2>
	<script>
		$(document).ready(function(){
			$(".request").focus(function(){
				$(".blur").css({
					'opacity':'0.2'
				});
			}).blur(function(){
				$(".blur").css({
					'opacity':'1'
				});
			}); 
			
			$(".view_prev_requests").click(function(){
				$(".previous_requests").toggleClass('show_prev_requests');
			})
		});
	</script>
	<form class="request_form" ng-submit="request_show(show)">
		<div class="request_text_box">
			<input ng-model="show" type="text" class="request" maxlength="50">
			<button class="request_button">Request</button>
		</div>
		<!-- <div class="request_form_drop">
			<div class="result">
				hello there
			</div>
			<div class="result">
				hello there
			</div>
		</div> -->
		
	</form>
	<h6 class="blur">We're interested to know your choices, but do know that we screen your requests suitability!</h6>
	<a href="" class="view_prev_requests blur"  ng-click="load_requests()">View your previous requests (Click again to hide)</a>
	<div class="previous_requests blur">
		<h3>Your Previous Requests</h3>
		<hr />
		<request class="centered centered_row">
			<div class="col_title">
				Show Name
			</div>
			<div class="col_title">
				Status
			</div>
		</request>
		<hr/>
		<request class="centered centered_row" ng-repeat="data in user_requests">
			<div class="name">
				{{data.show_name}}
			</div>
			<div class="name" ng-if="data.approve!=''">
				{{data.approve}}
			</div>
			<div class="name" ng-if="data.approve==''">
				Pending
			</div>
		</request>
	</div>
</div>			
