<div class="route_div" ng-controller="ctvapp_controller">
<transition class="centered_horizontal centered_col" ng-init="switch_back()">
<h2>Schedule</h2>
<hr></hr>
<table class="my_table" ng-init="get_schedule()">
	<tr class="border-bottom">
		<th>Id</th>
		<th>From</th>
		<th>To</th>
		<th>Program</th>
		<th>Host</th>
		<th>Hours</th>
		<th>Status</th>
	</tr>
	<tr ng-repeat="data in schedule" ng-init="td_height(data.hours,$index)">
		<td>{{data.id}}</td>
		<td>{{data.from}}</td>
		<td>{{data.to}}</td>
		<td>{{data.program}}</td>
		<td>{{data.host}}</td>
		<td>{{data.hours}}</td>
		<td>{{data.status}}</td>
		<!-- <td ng-class="td_heighten[$index]">{{data.status}}</td> -->
	</tr>	
</table>
</transition>
</div>