<div class="med_card card right_padding card_full_height">
	<span class="jumbo">
		TO BE BETTER THAN YESTERDAY, IS MY GOAL EVERYDAY!
	</span>
</div>
<div class="small_card card me left_padding card_70_height">
	<div class="image">
		<script>
			$(".me .image").backstretch("assets/images/me.jpg");
		</script>
	</div>					
</div>
<div class="duo_card card centered card_70_height">
	<div class="text centered centered_col">
		<div class="bio">
			I'm an enthusiastic web designer from Karunya University pursuing my bachelors in Computer Science and Engineering. 
		</div>
		<a href="docs/Resume_Jonathan_Vijayakumar.pdf" target="_blank">
			<button>Download my resume</button>
		</a>
	</div>
</div>
<div class="duo_card card centered card_70_height">
	<div class="text centered centered_col">
		<div class="bio">
			I would take a bullet for
		</div>
		<script>
			/*$(document).ready(function(){
				$(".skillset").each(function(){
					var x = window.setTimeout(function(){
						$(this).addClass('block_bg');
					},1000);
				});
			});*/
		</script>
		<div class="skillset centered centered_row">
			<div class="block centered">
				<img src="assets/images/logos/html.png" />
			</div>
			<div class="block centered">
				<img src="assets/images/logos/sass.png" />
			</div>
			<div class="block centered">
				<img src="assets/images/logos/php.png" />
			</div>
			<div class="block centered">
				<img src="assets/images/logos/jquery.png" />
			</div>
			<div class="block centered">
				<img src="assets/images/logos/ng.png" />
			</div>
		</div>
		<div class="prompt_connect">
			Connect with me
		</div>
		<div class="connect">
			<a href="https://in.linkedin.com/pub/jonathan-vijayakumar/b7/71b/58" class="linkedin" target="_blank">LinkedIn</a>
			<a href="https://www.facebook.com/jonathan.vijayakumar" class="facebook" target="_blank">facebook</a>
			<a href="https://instagram.com/jonathanvijayakumar/" class="insta" target="_blank">instagram</a>
		</div>
	</div>
</div>

