<script>
	$(document).ready(function(){
		var creation_timestamp;
		var message;
		var image;
		var tag;
		var title;
		$.ajax({
			url: 'get_blog_msg.php',
			type: 'get',
			data: {
				type: 'get_articles'
			},
			success: function(response){
				var data = $.parseJSON(response);
				$(data).each(function(key,value)
				{
					$.each(value,function(key,value)
					{
						if (key == 'creation_timestamp') {
							creation_timestamp = value;
						} else if (key == 'message') {
							message = value;
						} else if (key == 'image') {
							image = value;
						} else if (key == 'tag') {
							tag = value;
						} else if (key == 'title') {
							title = value;
						}
						else if (key == 'type') {
							var append = '<div class="' + value + '_card card ' + tag + '">';
							append += '<div class="image"></div><div class="text"><div class="heading">' + title + '</div><div class="desc">' + message + '</div></div>'
							append += '</div>';
							
							$(".append_here").append(append);		
							var tag_dot = '.' + tag + ' .image';
							//alert(tag_dot);
							$(tag_dot).backstretch(image);
						}
					});
				});
			}
		});
	});
</script>
<div class="append_here">
	
</div>
<!--a href="http://mindkraft.org" target="_blank">
	<div class="duo_card card nicknick" data="centering">
		<div class="image">
			<script>
				$(".nicknick .image").backstretch("assets/images/act/nicknick.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Mindkraft '15
			</div>
			<div class="desc">
				Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
			</div>
		</div>
	</div>
</a>
<a href="http://mindkraft.org" target="_blank">
	<div class="duo_card card skyrim" data="mk15">
		<div class="image">
			<script>
				$(".skyrim .image").backstretch("assets/images/act/9.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Mindkraft '15
			</div>
			<div class="desc">
				Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
			</div>
		</div>
	</div>
</a>
<a href="http://mindkraft.org" target="_blank">
	<div class="trio_card card thor" data="mk15">
		<div class="image">
		<script>
	$(".thor .image").backstretch("assets/images/act/thur.jpg");
</script>
</div>
<div class="text">
	<div class="heading">
	Mindkraft '15
	</div>
	<div class="desc">
		Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
	</div>
</div>
</div>
</a>
<a href="http://mindkraft.org" target="_blank">
	<div class="trio_card card nick" data="mk15">
		<div class="image">
		<script>
	$(".nick .image").backstretch("assets/images/act/nick.jpg");
	</script>
</div>
<div class="text">
	<div class="heading">
	Mindkraft '15
	</div>
	<div class="desc">
		Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
	</div>
</div>
</div>
</a>
<a href="http://mindkraft.org" target="_blank">
	<div class="trio_card card black" data="mk15">
	<div class="image">
	<script>
	$(".black .image").backstretch("assets/images/act/black.jpg");
	</script>
	</div>
	<div class="text">
	<div class="heading">
	Mindkraft '15
	</div>
	<div class="desc">
	Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
	</div>
	</div>
	</div>
</a-->
		