<a href="http://mindkraft.org" target="_blank">
	<div class="med_card card mk15" data="mk15">
		<div class="image">
			<script>
				$(".mk15 .image").backstretch("assets/images/mk15.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Mindkraft '15
			</div>
			<div class="desc">
				Designed the front end of my university's Tech Fest using HTML, CSS3 and jQuery. www.mindkraft.org
			</div>
		</div>
	</div>
</a>
<a href="assets/images/september_imp_cover.jpg" target="_blank">
	<div class="small_card card september_imp_cover">
		<div class="image">
			<script>
				$(".september_imp_cover .image").backstretch("assets/images/september_imp_cover.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Impressions September 2015
			</div>
			<div class="desc">
				Cover page of our Newsletter 'Sept. Issue'.
			</div>
		</div>
	</div>
</a>
<a href="seraph" target="_blank">
	<div class="large_card card seraph">
		<div class="image">
			<script>
				$(".seraph .image").backstretch("assets/images/seraph.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				University's Internet Login Page
			</div>
			<div class="desc">
				My favourite web project, build on AngularJS and SCSS. Username: abcd& Password: anything
			</div>
		</div>
	</div>
</a>
<a href="ctvapp" target="_blank">
	<div class="med_card card ctv right_padding">
		<div class="image">
			<script>
				$(".ctv .image").backstretch("assets/images/ctv.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Campus TV
			</div>
			<div class="desc">
				Designed Karunya University's Intranet TV Channel made with HTML, SCSS and AngularJS.
			</div>
		</div>
	</div>
</a>
<a href="assets/images/august_imp_cover.jpg" target="_blank">
	<div class="small_card card imp_august_cover left_padding">
		<div class="image">
			<script>
				$(".imp_august_cover .image").backstretch("assets/images/august_imp_cover.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				Impressions August 2015 Cover Page
			</div>
			<div class="desc">
				Cover page of our Newsletter 'Aug. Issue'.
			</div>
		</div>
	</div>
</a>
<a href="wifireg" target="_blank">
	<div class="large_card card wifireg">
		<div class="image">
			<script>
				$(".wifireg .image").backstretch("assets/images/netreg.jpg");
			</script>
		</div>
		<div class="text">
			<div class="heading">
				NetReg
			</div>
			<div class="desc">
				An AngularJS app for internet registration (not deployed yet). Username: anything Password: new
			</div>
		</div>
	</div>
</a>
<div class="large_card card centered">
	<div class="text centered">
		<div class="jumbo">
			STAY TUNED FOR MORE.
		</div>
	</div>
</div>