body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: futura;
  src: url(../fonts/futura.woff); }
@font-face {
  font-family: futura_light;
  src: url(../fonts/futura_light.woff); }
@font-face {
  font-family: pro-bold;
  src: url(../fonts/myriad-set-pro_bold.ttf); }
@font-face {
  font-family: pro-medium;
  src: url(../fonts/myriad-set-pro_medium.ttf); }
@font-face {
  font-family: amer;
  src: url(../fonts/amer.otf); }
.centered {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.hori_centered {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.vert_centered {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.vert_bottom {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.centered_row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }

.centered_col {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.loading {
  position: relative;
  width: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.load_line {
  opacity: 1;
  position: absolute;
  width: 0%;
  height: 2px;
  margin-left: 25px;
  background-color: black;
  border-radius: 0px;
  -webkit-transition: width 10s ease-out;
  -moz-transition: width 10s ease-out;
  transition: width 10s ease-out; }

a {
  text-decoration: none;
  padding-top: 5px;
  font-family: pro-bold;
  font-size: 13px;
  color: #494848;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover {
  text-decoration: none; }

button {
  padding: 10px;
  background-color: #333333;
  border-radius: 3px;
  border: none;
  color: white !important;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

button:hover {
  background-color: #db4338; }

button:focus {
  outline: none !important;
  border: none !important; }

.container {
  display: inline-box;
  position: relative;
  width: 100%;
  max-width: 900px; }

.header {
  width: inherit;
  padding: 0;
  margin: 7vh 0vw 5vh 0vw;
  display: inline-block;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.header a {
  height: 60px;
  margin: 0px 5px 0px 0px;
  font-family: futura;
  letter-spacing: 0;
  font-size: 20px;
  color: #aeaeae;
  text-decoration: none; }

.header a:hover {
  color: #333333; }

.active {
  color: black !important; }

.logo_holder {
  height: 60px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.logo {
  font-size: 20px;
  font-family: futura;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.logo img {
  height: 15px;
  width: auto; }

.menu {
  margin-left: 15px; }

.card_holder {
  width: inherit;
  padding: 0;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.card {
  float: left;
  display: inline-block;
  padding: 15px; }

.card_full_height {
  height: 100vh; }

.card_70_height {
  height: 70vh; }

.large_card {
  display: inline-block;
  width: 100%;
  max-width: 870px; }

.med_card {
  display: inline-block;
  width: 100%;
  max-width: 570px; }

.small_card {
  display: inline-block;
  width: 270px; }

.trio_card {
  display: inline-block;
  width: 100%;
  max-width: 270px; }

.duo_card {
  display: inline-block;
  width: 100%;
  max-width: 420px; }

.image {
  height: 400px; }

.image img {
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.enlarge_image {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05); }

.normal_image {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.jumbo, .jumbo a {
  font-family: futura;
  font-size: 65px;
  color: #1b1b1b;
  text-decoration: none; }

.text {
  margin-top: 30px; }

.text .heading {
  font-family: futura;
  font-size: 12px;
  color: #1b1b1b;
  text-decoration: none; }

.text .desc {
  margin-top: 10px;
  font-family: futura_light;
  font-size: 13px;
  color: #494848;
  text-decoration: none; }

.bio {
  margin: 15px;
  text-align: center;
  font-family: futura_light;
  font-size: 20px;
  color: #1b1b1b;
  text-decoration: none; }

.email {
  color: #db4338 !important;
  text-decoration: none; }

.linkedin {
  color: #007bb5 !important;
  text-decoration: none; }

.facebook {
  color: #3b5998 !important;
  text-decoration: none; }

.insta {
  color: #125688 !important;
  text-decoration: none; }

.block img {
  width: 40px; }

.skillset .block {
  margin: 5px;
  display: black;
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.block_bg {
  background-color: rgba(0, 0, 0, 0.1); }

.prompt_connect {
  margin: 10px;
  text-align: center;
  font-family: futura_light;
  font-size: 10px;
  color: #1b1b1b;
  text-decoration: none; }

.connect * {
  margin: 10px; }

/*# sourceMappingURL=mecloud_base.css.map */
