@import "bourbon/bourbon";
body {
    margin: 0;
    padding: 0;
}

@font-face{
	font-family: futura;
	src: url(../fonts/futura.woff);
}

@font-face{
	font-family: futura_light;
	src: url(../fonts/futura_light.woff);
}

@font-face{
	font-family: pro-bold;
	src: url(../fonts/myriad-set-pro_bold.ttf);
}

@font-face{
	font-family: pro-medium;
	src: url(../fonts/myriad-set-pro_medium.ttf);
}

@font-face{
	font-family: amer;
	src: url(../fonts/amer.otf);
}

.centered {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
}

.hori_centered {
    @include display(flex);
    @include justify-content(center);
}

.vert_centered {
    @include display(flex);
	@include align-items(center);
}

.vert_bottom {
    @include display(flex);
	@include align-items(flex-end);
}

.centered_row{
	@include flex-direction(row);
}

.centered_col{
	@include flex-direction(column);
}

.loading{
	position: relative;
	width:20px;
	left: 50%;
	@include transform(translateX(-50%));
	@include animation-name(rotate);
	@include animation-duration(2s);
	@include animation-timing-function(ease);
	@include animation-iteration-count(infinite);
}

@include keyframes(rotate){
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}


.load_line{
	opacity: 1;
	position: absolute;
	width: 0%;
	height: 2px;
	margin-left: 25px;
	background-color: black;
	border-radius: 0px;
	@include transition(width 10s ease-out);
}

a{
	text-decoration: none;
	padding-top: 5px;
	font-family: pro-bold;
	font-size: 13px;
	color: #494848;
	text-decoration: none;
	cursor: pointer;
	@include transition(all 0.5s ease);
}

a:hover{
	text-decoration: none;
}

button{
	padding: 10px;
	background-color: #333333;
	border-radius: 3px;
	border: none;
	color: white !important;
	cursor: pointer;
	@include transition(all 0.5s ease);
}

button:hover{
	background-color: #db4338;
}

button:focus{
	outline: none !important;
	border:none !important;
}

.container {
    display: inline-box;
    position: relative;
    width: 100%;
    max-width: 900px;
}

.header {
	width: inherit;
	padding: 0;
	margin: 7vh 0vw 5vh 0vw;
	display: inline-block;
	@include transition(all 1s ease);
}

.header a{
	height: 60px;
	margin: 0px 5px 0px 0px;
	font-family: futura;
	letter-spacing: 0;
	font-size: 20px;
	color: #aeaeae;
	text-decoration: none;
}

.header a:hover{
	color: #333333;
}

.active{
	color: black !important;
}

.logo_holder{
	height: 60px;
	@include transition(all 0.5s ease-in);
}

.logo{
	font-size: 20px;
	font-family: futura;
	border-right: 2px solid  rgba(0,0,0,0.1);
	@include transition(all 0.5s ease-in);
}

.logo img{
	height: 15px;
	width: auto;
}

.menu{
	margin-left: 15px;
}

.card_holder{
	width: inherit;
	padding: 0;
	display: inline-block;
	opacity:0;
	@include transition(all 1s ease);
}

.card{
	float: left;
	display: inline-block;
	padding:15px;
}

.card_full_height{
	height: 100vh;
}
.card_70_height{
	height: 70vh;
}

.large_card{
	display: inline-block;
	width: 100%;
	max-width: 870px;
}

.med_card{
	display: inline-block;
	width: 100%;
	max-width: 570px;
}

.small_card{
	display: inline-block;
	width: 270px;
}

.trio_card{
	display: inline-block;
	width: 100%;
	max-width: 270px;
}

.duo_card{
	display: inline-block;
	width: 100%;
	max-width: 420px;
}

.image{
	height: 400px;
}

.image img{
	@include transition(all 2s ease-out);
}

.enlarge_image{
	@include transform(scale(1.05));
}
.normal_image{
	@include transform(scale(1));
}

.jumbo,.jumbo a{
	font-family: futura;
	font-size: 65px;
	color: #1b1b1b;
	text-decoration: none;
}


.text{
	margin-top: 30px;
}

.text .heading{
	font-family: futura;
	font-size: 12px;
	color: #1b1b1b;
	text-decoration: none;
}

.text .desc{
	margin-top: 10px;
	font-family: futura_light;
	font-size: 13px;
	color: #494848;
	text-decoration: none;
}

.bio{
	margin: 15px;
	text-align: center;
	font-family: futura_light;
	font-size: 20px;
	color: #1b1b1b;
	text-decoration: none;
}

.email{
	color: #db4338 !important;
	text-decoration: none;
}
.linkedin{
	color: #007bb5 !important;
	text-decoration: none;
}

.facebook{
	color: #3b5998 !important;
	text-decoration: none;
}

.insta{
	color: #125688 !important;
	text-decoration: none;
}

.block img{
	width: 40px;
}

.skillset .block{
	margin: 5px;
	display: black;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.block_bg{
	background-color: rgba(0,0,0,0.1);
}

.prompt_connect{
	margin: 10px;
	text-align: center;
	font-family: futura_light;
	font-size: 10px;
	color: #1b1b1b;
	text-decoration: none;
}

.connect *{
	margin: 10px;
}