@import 'mixins.scss';
@font-face{
	font-family:aller;
	src:url(../fonts/Aller.ttf);
}

@font-face{
	font-family:aller_light;
	src:url(../fonts/aller-light.woff);
}

body{
	overflow:hidden;
	background-color:white;
}

.no_rounded_edges{
	border-radius:0px;
}

.no_margin{
	padding:0;
	margin:0;
}

.reset a{
	margin-top:20px;
	color:white !important;
}

.centered_row{
	-webkit-flex-direction: row !important;
   flex-direction: row !important;
}
.centered_col{
	-webkit-flex-direction: column !important;
   flex-direction: column !important;
}

.box_shadow{
	@include box-shadow(0px ,-5px ,15px ,1px ,rgba(0,0,0,0.1),not_inset);
}

.logo{
	position:relative;
	left:-19px;
	height:100px;
}

.logo span{
	font-size:35px;
	color:white;
	font-family:aller;
}

a{
	font-size:12px;
	color:black;
	@include transition(all,0.5s,ease);
}

a:hover{
	text-decoration:none;
	outline:none;
}

.logo img{
	font-size:20px;
	height:25px;
	width:auto;
	font-family:aller;
}

.hr{
	color: #b2b2b2;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(50%, black));
	background: gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(50%, black));
	opacity:0.3;
	margin:0px 0px 17px 0px;
	width:50%;
	height:2px;
}

.hr_vertical{
	width:1px !important;
	height:75% !important;
}

.centered{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}
.flex_end{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex_start{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
}

.border_black{
	border:1px solid black;
}

input[type="text"],input[type="password"]{
	height: 44px;
	font-size: 16px;
    padding: 0 8px;
	color: #404040;
	position:relative;
	left:0px;
	top:0px;
	border-radius:3px;
	background-color:white;
	border:1px solid white;
	width:200px;
	outline:none;
	font-weight:300;
	opacity:1;
	@include transition(all,0.2s,ease);
}

input[type="text"]:hover,input[type="password"]:hover{
	border:1px solid rgba(0,0,0,0.2);
}

button{
	position:relative;
	margin-top:40px;
	border-radius:3px;
	background-color:#F07818;
	border:none;
	width:200px;
	height:35px;
	outline:none;
	padding:5px;
	color:white;
	font-weight:bold;
	@include transition(background-color,1s,ease);
}

button:hover{
	background-color:#d06916;
}

.login_form_box{
	padding-bottom:50px;
}

.gray_box{
	background-color:#f7f7f7;
	padding:0px 50px 50px 50px;
	width:400px;
	margin:10px;
	height:300px;
	@include box-shadow(0px,2px,2px,1px,rgba(0, 0, 0, 0.1),not_inset);
}

.wifireg_form{
	position:relative;
	display:block;
	padding:10px;
	width:220px;
	height:55px;
	
}

.bring_up{
	top:-70px;
}

.section_padding{
}

.footer{
	position:fixed;
	bottom:0px;
	width:100%;
	height:35px;
	padding:0px 30px 0px 0px;
}

footer{
	color:rgba(255,255,255,0.5);
	font-size:12px;
}

.wifireg_text{
	color:rgba(0,0,0,0.7);
	font-size:13px;
	font-family:aller;
}

.red{
	color:red !important;
	@include transition(all,0.5s,ease);
	animation: red_color 0.3s linear;
}

@-webkit-keyframes red_color{
	0%{
		background-color:#FCEBB6;
	}
	50%{
		background-color:#FF2400;
	}
	100%{
		background-color:#FCEBB6;
	}
	
}
@keyframes red_color{
	0%{
		background-color:#FCEBB6;
	}
	50%{
		background-color:#FF2400;
	}
	100%{
		background-color:#FCEBB6;
	}
	
}

.shake{
	animation: shk_textbox 0.5s linear;
}

@-webkit-keyframes shk_textbox {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shk_textbox {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}

.shake_button{
	animation: shk 0.5s linear;
}

@-webkit-keyframes shk {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shk {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}

.error_notif{
	position:absolute;
	top:2%;
	width:100%;
	height:30px;
	opacity:0;
	@include transition(all,0.5s,ease);
}

.error_notif_show{
	opacity:1;
}

.error_notif h6{
	padding:10px 30px 10px 30px;
	outline:1px solid #b7b7b7;
	background-color:#ececec;
	color:#302f2f;
	@include box-shadow(0px,4px,15px,1px,rgba(0,0,0,0.2),not_inset);
}