@font-face {
  font-family: aller;
  src: url(../fonts/Aller.ttf); }
@font-face {
  font-family: aller_light;
  src: url(../fonts/Aller_Lt.ttf); }
.view_dim {
  padding-top: 50px;
  position: absolute;
  top: 51px;
  bottom: 46px;
  margin: 0;
  width: 100%; }

.box_shadow {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2); }

.table_hover tr {
  transition: all 0.2s ease !important; }

.table_hover tr:hover {
  margin-bottom: 10px !important; }

/*# sourceMappingURL=extra.css.map */
