@mixin center($dir,$align,$justify)
{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: $dir;
	flex-direction: $dir;
	-webkit-align-items: $align;
	align-items: $align;
	-webkit-justify-content: $justify;
	justify-content: $justify;
}

@mixin box-shadow($h,$v,$blur,$spread,$color,$inset){
	@if $inset == inset{
		box-shadow : $h $v $blur $spread $color $inset;
		-webkit-box-shadow : $h $v $blur $spread $color $inset;
		-moz-box-shadow : $h $v $blur $spread $color $inset;
	}
	@else{
		box-shadow : $h $v $blur $spread $color;
		-webkit-box-shadow : $h $v $blur $spread $color;
		-moz-box-shadow : $h $v $blur $spread $color;
	}
}
@mixin transition($nos,$time,$tfunc){
	box-shadow : $nos $time $tfunc;
	-webkit-transition : $nos $time $tfunc;
	-moz-transition : $nos $time $tfunc;
}