@font-face {
  font-family: aller;
  src: url(../fonts/Aller.ttf); }
@font-face {
  font-family: aller_light;
  src: url(../fonts/aller-light.woff); }
.nomargin {
  margin: 0 !important;
  padding: 0 !important; }

.nomar {
  margin: 0 !important; }

.centered_row {
  -webkit-flex-direction: row !important;
  flex-direction: row !important; }

.centered_col {
  -webkit-flex-direction: column !important;
  flex-direction: column !important; }

.arrange_into_cols {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  align-content: stretch; }

.logo {
  position: relative;
  left: -19px;
  height: 100px; }

.header_logo {
  height: 60px; }

a {
  font-size: 12px;
  color: black;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

a:hover {
  text-decoration: none;
  outline: none;
  background-color: none !important; }

.help_button {
  background-color: none !important;
  padding: 3px !important;
  border: none;
  font-weight: 100; }

.help_button:hover {
  font-weight: 500; }

.hr {
  color: #b2b2b2;
  opacity: 0.3;
  margin: 7px 0px 7px 0px;
  width: 50%;
  height: 2px; }

.hr_nomargin {
  color: #b2b2b2;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(0, 0, 0, 0.5)));
  background: gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(0, 0, 0, 0.5)));
  opacity: 0.3;
  width: 70%;
  height: 1px; }

.hr_vertical {
  width: 1px !important;
  height: 75% !important; }

.centered {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex_end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex_start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center; }

.border_black {
  border: 1px solid black; }

input[type="text"], input[type="password"] {
  position: relative;
  left: 0px;
  border-radius: 3px;
  background-color: white;
  border: none;
  width: 200px;
  height: 35px;
  outline: none;
  padding: 5px 8px 5px 8px;
  color: black;
  opacity: 1;
  box-shadow: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }

button {
  position: relative;
  border-radius: 3px;
  background-color: #F07818;
  border: none;
  font-size: 12px;
  border-radius: 3px;
  height: 35px;
  outline: none;
  padding: 10px;
  color: white;
  font-weight: bold; }

.button_disabled {
  position: relative;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 12px;
  border-radius: 3px;
  height: 35px;
  outline: none;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold; }

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35px; }

footer {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-family: aller; }

.main_navbar {
  margin-right: 50px;
  margin-left: 50px; }

.navbar {
  margin-top: 25px; }

li {
  padding: 5px; }

a {
  color: rgba(0, 0, 0, 0.6);
  transition: none !important;
  padding: 10px 2px 10px 2px !important; }

a:hover, a:active {
  text-decoration: none;
  color: black; }

a:focus {
  text-decoration: none;
  color: black; }

li:hover {
  background-color: none !important; }

.dropdown-menu {
  box-shadow: none; }

.page_padding {
  padding: 0px 57px 0px 57px; }

.table {
  width: 500px; }

.add_device {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 0px;
  box-shadow: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }

.add_device img {
  height: 50px;
  width: auto; }

.add_device:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.wifireg_para_text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  line-height: 18px;
  margin: 12px; }

.it_policy {
  height: 250px;
  overflow-y: scroll; }

.centered_text {
  text-align: center; }

.append_here {
  height: 200px;
  overflow: hidden; }

.mac_input {
  height: 40px !important;
  width: 40px !important;
  margin-right: 10px; }

.added_devices {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2); }

.added_device_box {
  padding: 10px;
  border-radius: 20px;
  background-color: none;
  width: 250px;
  height: 50px; }

.added_device_box_img_box {
  width: 100px; }

.added_device_box_text_box {
  width: 150px; }

.added_device_box img {
  height: 20px;
  width: auto; }

.added_device_box * {
  padding: 0px 10px 0px 10px; }

.added_device_box:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3) inset; }

.added_device_box * {
  cursor: default; }

.delete_device {
  position: absolute;
  margin: 13px 10px 13px 10px; }

.delete_device img {
  height: 15px;
  width: auto; }

.modal-content {
  background-color: #dadada !important; }

.user_details_table {
  background-color: #dadada;
  border-radius: 5px; }

.user_details_table:last-child {
  border-bottom: none; }

.user_details_table tr {
  padding: 10px;
  margin: 10px; }

.user_details_table tr:last-child {
  border-bottom: none; }

.user_details_table td {
  text-align: center;
  padding: 10px;
  height: 15px !important;
  margin: 20px; }

.left_cell {
  text-align: right !important; }

.right_cell {
  text-align: left !important; }

.error_notif {
  position: absolute;
  top: 2%;
  width: 100%;
  height: 30px;
  opacity: 0;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  z-index: 200 !important; }

.error_notif_show {
  opacity: 1; }

.error_notif h6 {
  padding: 10px 30px 10px 30px;
  outline: 1px solid #b7b7b7;
  background-color: #ececec;
  color: #302f2f;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.2); }

.please_wait {
  color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=netreg.css.map */
