<script>
	$(document).ready(
	function(){
	}
	);
</script>

<div class="container-fluid centered centered_col" ng-controller="wifiregcontroller">
	<h2>Hello there, NetAdmin!</h2>
	<hr>
	<span class="hr_nomargin"></span>
	<div class="centered col-sm-6 nomargin">
		<a href="{{index_notification_route_you}}" class="nomargin">
		<span class="add_device centered centered_col you" ng-mouseover="show_notification('you')">
			<img src="assets/img/user.png">
		</span>
		</a>
		
		<a href="{{index_notification_route_search}}" class="nomargin">
		<span class="add_device centered centered_col you" ng-mouseover="show_notification('search')">
			<img src="assets/img/search.png">
		</span>
		</a>
		
	</div>
	<span class="hr_nomargin"></span>
	
	<div class="col-sm-4 centered centered_col notification_panel">
		<span class="centered_text wifireg_para_text index_notification">
			<h4>{{index_notification_leading}}</h4>
			{{index_notification}}
		</span>
	</div>
	
	
	<hr></hr>
</div>