<script>
	$(document).ready(function(){
		
	});
</script>

<div class="centered centered_col container-fluid" ng-controller="wifiregcontroller">
	<h2>Search</h2>
	
	<hr>
	<span class="hr_nomargin"></span>
	<div class="col-sm-12 centered search_div" ng-class="search_div">
		<form ng-submit="search()">
			<table class="table" ng-if="show_search_elements">
				<tr class="centered">
					<td class="col-sm-3 centered left_cell">
						<span class="">
							Name
						</span>
					</td>
					<td class="col-sm-3 centered">
						<input type="text" placeholder="Enter Student's Name" ng-model="name">
					</td>	
				</tr>
				<tr class="centered">
					<td class="col-sm-3 centered left_cell">
						<span class="">
							Register Number
						</span>
					</td>
					<td class="col-sm-3 centered">
						<input type="text" placeholder="Enter Register Number/EmpId'" ng-model="register_number">
					</td>	
				</tr>
				<tr class="centered">
					<form>
						<td class="col-sm-3 centered left_cell">
							<span class="">
								Wireless MAC Id
							</span>
						</td>
						<td class="col-sm-3 centered">
							<input type="text" placeholder="Enter Register Number/EmpId'" ng-model="wireless_mac">
						</td>	
					</tr>
					<tr class="centered">
						<td class="col-sm-3 centered left_cell">
							<span class="">
							</span>
						</td>
						<td class="col-sm-3 centered">
							<button>Search</button>
						</td>	
					</tr>
				</table>
			</form>
			<button ng-if="show_expand_button" ng-click="expand_search_box()">Expand</button>
		</div>
		<span class="hr_nomargin"></span>
		
		<table class="table results_table" ng-if="show_result_table">
			<tr>
				<th>
					S. No.
				</th>
				<th>
					Name
				</th>
				<th>
					Register Number/EmpIh
				</th>
				<th>
					Resihence
				</th>
				<th>
					Department
				</th>
				<th>
					Control
				</th>
			</tr>
			<tr ng-repeat="data in user_data">
				<th>
					{{$index}}
				</th>
				<td>
					{{data.name}}
				</td>
				<td>
					{{data.register_number}}
				</td>
				<td>
					{{data.residence}}
				</td>
				<td>
					{{data.department}}
				</td>
				<td>
					<button ng-click="show_user_details(data.name)">Edit</button>
				</td>
			</tr>
		</table>
		
		<hr/>
	</div>		