<script>
	$(document).ready(function(){
		
	});
</script>

<div class="centered centered_col container-fluid" ng-controller="wifiregcontroller">
	
	<h2 ng-bind="protag.name"></h2>
	
	<hr>
	<span class="hr_nomargin"></span>
	<div class="centered" ng-init="load_protag()">
		<form ng-submit="search()">
			<table class="table">
				<tr ng-repeat="data in protag_data">
					<td>
						{{data.type}}
					</td>
					<td>
						<label>{{data.value}}</label>
					</td>
					<td>
						<button ng-click="show_user_details(data.name)">Edit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr/>
</div>		