<!DOCTYPE html>
<html lang="en" ng-app="seraph_auth_app" ng-controller="seraph_auth_app_controller" >
	<head>
		<title>Seraph Authentication</title>
		<link rel="shortcut icon" href="assets/img/s_icon.png" />
	 	
		<!--Fetching CSS and JS files-->
		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.backstretch.min.js"></script>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/keepalive.css">
		
		<script type="text/javascript">
			$(document).ready(
			function()
			{
			});
		</script>
		
	</head>
	<body>
		<!--Start of seraph app-->
		<div class="error_notif centered" ng-class="error_notif_show">
			<h6>{{notif_message}}</h6>
		</div>
		
		<div class="footer_popup">
			<div ng-if="info">
				<h3>Today's Photo</h3>
				<hr>
				<p>
					Shot by Daniel O' Wilson. Copyright DanToto Americas!
				</p>
			</div>
			<div ng-if="links">
				<a href=""><img src="assets/img/user_round.png" /></a>
				<a href=""><img src="assets/img/mic.png" /></a>
				<a href=""><img src="assets/img/twitter.png" /></a>
				<br>
				<a href=""><img src="assets/img/user_round.png" /></a>
				<a href=""><img src="assets/img/mic.png" /></a>
				<a href=""><img src="assets/img/twitter.png" /></a>
				<br>
			</div>
		</div>
		
		<div class="footer flex_end centered_row">
			<a href="">Reset Password</a>
			<a href="" id="img_link_a">
			</a>
		</div>
		
		<div class="container-fluid centered centered_col center_margin">
			<img src="assets/img/seraph.png" class=""/>
			
			<div class="loading_bar">
				<div class="bar">
				</div>
			</div>
			
			<p class="col-sm-5 loading_bar_notice">This browser window is used to keep your authentication session active. Please leave it open in the background and open a <a href="https://www.google.com" target="_blank"><b>new window</b></a> to continue.
				Please remember <br> to logout, after your browsing session.
			</p>
			<button>Logout</button>
		</div>
		
		<script>
			var app = angular.module('seraph_auth_app',[])
			.controller('seraph_auth_app_controller',function($scope,$location,$window,$rootScope,$timeout,$http,$interval){
				//Initializations
				$(".username_field").focus();
				$(".user_img img").css({'opacity':'0.8'});
				$scope.user = "sdfasd";
				$scope.greet = "Please Type your Username";
				$scope.info = false;
				$scope.links = false;
				$scope.loading_bar_step = ($(".bar").width()/10)/2;
				
				//Function runs till loading bar's width becomes 0, then reloads page
				$interval(function(){
					if ($(".bar").width() != 0) {
						$(".bar").css('width',$(".bar").width() - $scope.loading_bar_step);	
						} else {
						$window.location.reload();
					}
				},500);
				
				
				$scope.auth_username = function() {
					var regex_username = /^[a-zA-Z0-9]{1,10}$/;
					
					if ($scope.username=='' || $scope.username == undefined) {
						$scope.set_notif("We don't take null values!");
						$scope.dismiss_notif(3000);
						} else if (regex_username.test($scope.username)) {
						
						$scope.greet = "Please Type your password";
						$(".user_img img").css({'opacity':'1'});
						$(".username_auth").css({
							'opacity':'0',
							'left':'-200px'
						});
						$(".password_auth").css({
							'opacity':'1',
							'left':'0px'
						});
						$(".login_container").css({
							'height':'500px'
						});
						$(".input_holder").css({
							'height':'220px'
						});
						$(".password_field").focus();
						
						} else {
						
						$scope.set_notif("Stop experimenting on our textboxes!");
						$scope.dismiss_notif(3000);
						
					}
				};
				
				$scope.auth_password = function() {
					
					//Preparations
					$(".login_container").removeClass('shake');
					if ($scope.password =='' || $scope.password == undefined) {
						$scope.set_notif("We don't take null values!");
						$scope.dismiss_notif(3000);
						} else {
						
						$http({
							url: 'zion.php',
							method: 'get',
							params: {
								username:$scope.username,
								password:$scope.password
							}
							}).success(function(val){
							if (val.status) {
								$scope.set_notif("Hello, "+ val.name);
								$scope.dismiss_notif(3000);								
								} else {
								$(".login_container").addClass('shake');
								$scope.set_notif("Sorry! Invalid username or password.");
								$scope.dismiss_notif(3000);
							}
						});
						$(".password_field").focus();
						
					}
				};
				
				$scope.reset = function() {
					$(".user_img img").css({'opacity':'1'});
					$scope.username = '';
					$scope.password = '';
					$(".username_auth").css({
						'opacity':'1',
						'left':'0px'
					});
					$(".password_auth").css({
						'opacity':'0',
						'left':'200px'
					});
					$(".login_container").css({
						'height':'430px'
					});
					$(".input_holder").css({
						'height':'120px'
					});
					$(".user_img img").css({'opacity':'0.8'});
					$(".username_field").focus();	
				};
				
				$scope.set_notif = function(msg) {
					$rootScope.error_notif_show = "error_notif_show";
					$rootScope.notif_message = msg;
				};
				
				$scope.dismiss_notif= function(delay) {
					$timeout(
					function() {
						$rootScope.error_notif_show = "";
						$rootScope.notif_message = "";
					},delay
					);
				};
				
				$scope.disableApp = function() {
					$scope.set_notif("Sorry! Something went wrong and we're trying to fix it!");
					$scope.dismiss_notif(100000);
					$scope.isDisabled = 'disabled';
				};
				
				$scope.toggle_info = function() {
					var ch = $(".footer_popup").css('opacity');
					if (ch == 0) {
						$(".footer_popup").css({
							'opacity':'1',
							'right':'15px'
						});
						$scope.info = true;
						$scope.links = false;
						} else if (ch == 1 && $scope.links == true){
						$scope.info = true;
						$scope.links = false;
						} else if (ch == 1 && $scope.info == true) {
						$scope.info = false;
						$scope.links = false;
						$(".footer_popup").css({
							'opacity':'0',
							'right':'0px'
						});
					}
				};
				$scope.toggle_links= function() {
					var ch = $(".footer_popup").css('opacity');
					if (ch == 0) {
						$(".footer_popup").css({
							'opacity':'1',
							'right':'15px'
						});
						$scope.info = false;
						$scope.links = true;
						} else if (ch == 1 && $scope.info == true){
						$scope.info = false;
						$scope.links = true;
						} else if (ch == 1 && $scope.links == true) {
						$scope.info = false;
						$scope.links = false;
						$(".footer_popup").css({
							'opacity':'0',
							'right':'0px'
						});
					}
				};
			});
		</script>
		<!--End of seraph app-->
	</body>
</html>																																					