@import 'mixins.scss';
@font-face{
	font-family:segoe;
	src:url(../fonts/segoeui.ttf);
}
@font-face{
	font-family:segoesb;
	src:url(../fonts/seguisb.ttf);
}

html, body {	
	overflow:hidden;
	width:100%;
	height:100%;
}

body{
	background-color:white;
	
}

.nopadding{
	padding:0;
	margin:0;
}

.container-fluid{
	height:100%;
}

.box_shadow{
	@include box-shadow(0px ,2px ,3px ,0px ,rgba(0,0,0,0.3),not_inset);
}
.box_shadow_spread{
	@include box-shadow(0px ,4px ,15px ,1px ,rgba(0,0,0,0.3),not_inset);
}
.box_shadow_light{
	@include box-shadow(0px ,0px ,3px ,0px ,rgba(0,0,0,0.2),not_inset);
}
.box_shadow_inset{
	@include box-shadow(0px ,2px ,3px ,0px ,rgba(0,0,0,0.2),inset);
}

.logo{
	position:relative;
	padding:5px;
	margin:5px;
}
.logo img{
	position:relative;
	left:-17px;
	width:auto;
	height:100px;
}

a{
	font-size:12px;
	color:#686868;
	padding:5px;
	font-family:segoesb;
	letter-spacing:0.3px;
}

a:hover{
	text-decoration:none;
	outline:none;
	color:#500095;
}

a:active{
	text-decoration:none;
}

a:focus{
	text-decoration:none;
}

.hr{
	color: #b2b2b2;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(50%, black));
	background: gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(50%, black));
	opacity:0.3;
	margin:0px 0px 17px 0px;
	width:50%;
	height:2px;
}

.hr_vertical{
	width:1px !important;
	height:75% !important;
}

.menu{
	position:relative;
	height:35px;
	width:100%;
	padding:0px 100px 0px 100px;
	border-bottom:1px solid #e6e6e6;
}

.menu a{
	font-size:13px;
	padding:4px 8px 4px 8px;
	margin:0px 2px 0px 2px;
}

.menu a:focus{
	border-radius:2px;
	color:#500095 !important;
	background-color:rgba(0,0,0,0.2);
}
.menu a:active{
	border-radius:2px;
	color:white !important;
	background-color:rgba(0,0,0,0.2);
}

.navs{
	width:50%;	
}
.login{
	width:25%;
	right:8px;
	position:relative;
	background-color:white;
}

.news{
	width:25%;
}
.my_table *{
	font-family:segoe;
	padding:10px;
	margin:10px;
}

.my_table td{
	color:#686868;
}

.heighten_td{
	padding-bottom:100px;
}

.border-bottom{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.route{
	height:100%;
	background-color:white;
	@include transition(all,0.2s,ease);
	-webkit-transform: translateZ(0px) translateY(0px) translateX(0px) rotateY(0deg);
	transform: translateZ(0px) translateY(0px) translateX(0px) rotateY(0deg);
}

.route_div{
	width:100%;
	height:100%;
	padding:50px;
}

.route_div_home{
	padding:50px;
	background-color:black;
	display:inline-block;
}

.scroll{
	overflow-y:scroll;
}

transition{
	height:100%;
	width:auto;
	opacity:0;
	@include transition(all,1s,ease);
	transform: translateZ(0px) translateY(20px) translateX(0px) rotateY(0deg);
}

transition[class="player"]{
	height:100%;
	width:100%;
	opacity:1;
	background-color:gray;
	@include transition(all,1s,ease);
	transform: translateZ(0px) translateY(20px) translateX(0px) rotateY(0deg);
}

.workboard{
	display:inline-block;
	border-radius:5px;
}

.flow_player{
	overflow:hidden;
	border-radius:5px;
	width:640px;
	height:360px;
	@extend .box_shadow_light;
}

.video_info{
	border-radius:0;
	height:100px;
	color:#500095;
	width:100%;
	padding-bottom:8px;
	border-top:10px solid #c6c9cb;
	background-color:#eceded;
	@extend .box_shadow_light;
}

.now_playing_sign{
	padding:3px 5px 3px 5px;
	border-radius:5px;
	font-size:10px;
	color:rgba(0,0,0,0.5);
	@extend .box_shadow_inset;
}
.now_playing_text{
	padding:5px 20px 5px 20px;
	font-size:20px;
	color:rgba(0,0,0,0.5);
}

.request{
	margin:0 !important;
	font-size:13px !important;
	padding:7px !important;
	height:32px !important;
	width:500px !important;
	box-shadow:none !important;
	border-radius:0 !important;
	border:1px solid rgba(0,0,0,0.1) !important;
	text-align:left !important;
}

.request:hover{
	border:1px solid rgba(0,0,0,0.3) !important;
}

.request:focus{
	border:1px solid #987871 !important;
}

.request_button{
	font-size:12px;
	padding:8px !important;
	height:32px !important;
	width:100px !important;
	border:1px solid rgba(0,0,0,0.1) !important;
}

.request_form{
	margin-top:20px;
}

.request_form_drop{
	margin:0;
	font-size:16px;
	padding:8px !important;
	height:100px !important;
	width:500px !important;
	box-shadow:none !important;
	border-radius:0 !important;
	border:1px solid rgba(0,0,0,0.1) !important;
	text-align:left;
}

.blur{
	@include transition(all,0.2s,ease);
}

.previous_requests{
	margin-top:10px;
	width:600px;
	padding:8px;
	height:0px;
	overflow-y:hidden;
	@include transition(all,0.5s,ease);
}

.show_prev_requests{
	height:100% !important;
	overflow-y:scroll;
	display:inline-block;
}

.col_title{
	font-size:16px;
	color:black;
}

request div{
	font-size:14px;
	margin-top:10px;
	color:rgba(0,0,0,0.7);
	width:50%;
}
.centered{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.center_fix{
	padding-bottom:10%;
}
.centered_horizontal{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.centered_vertical{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
}

.centered_row{
	-webkit-flex-direction: row !important;
   flex-direction: row !important;
}
.centered_col{
	-webkit-flex-direction: column !important;
   flex-direction: column !important;
}

.flex_end{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex_start{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.border_black{
	border:1px solid black;
}

input[type="text"],input[type="password"]{
	width:200px;
	height: 40px;
	padding: 10px;
	margin:5px;
	
	font-size: 16px;
    font-weight:300;
	color: #404040;
	text-align:center;
	
	position:relative;
	left:0px;
	top:0px;
	
	border-radius:2px;
	background-color:white;
	border:1px solid white;
	
	outline:none;
	
	opacity:1;
	@include transition(all,0.2s,ease);
	@extend .box_shadow_light;
}

input[type="text"]:hover,input[type="password"]:hover{
	border:1px solid rgba(0,0,0,0.2);
}

.long{
	width:300px !important;
}
.short_round{
	border-radius:5px;
	width:100px !important;
}
button,input[type="button"]{
	position:relative;
	left:0px;
	top:0px;
	margin:5px;
	border-radius:2px;
	background-color:#F07818;
	border:none;
	width:200px;
	height:40px;
	outline:none;
	padding:5px;
	color:white;
	font-weight:bold;
	@include transition(background-color,1s,ease);
	@extend .box_shadow_light;
}

.help{
	width:300px;
}
.help *{
	margin:10px;
}
.help img{
	height:20px;
	width:auto;
}


button:hover,input[type="button"]:hover{
	background-color:#d06916;
}

.logo{
	width:50px;
	height:auto;
}

.header{
	position:relative;
	top:0px;
	width:100%;
	height:50px;
	padding:0px 100px 0px 100px;
	background-color:#500095;
	color:white;
	border-bottom:1px solid rgba(0,0,0,0.1);
	@include transition(all,.3s,ease);
}

.header a{
	color:rgba(255,255,255,0.8);
}
.header a:hover{
	color:white;
}




.drop_down{
	position:absolute;
	top:60px;
	right:0px;
	padding:20px;
	color:rgba(0,0,0,0.8);
	background-color:white;
	@extend .box_shadow_light;
	z-index:500;
}

.display_none{
	display:none;
}

.logout_tab{
	right:0px;
	width:310px;
	color:rgba(0,0,0,0.8);
	background-color:white;
	z-index:1000;
}

.hide_drop_down{
	display:none;
}
.show_drop_down{
	display:block;
}
.drop_down .text_part{
	height:100px;
	width:200px;
	padding:0px 5px 5px 10px;
}

.drop_down .img_part{
	height:100px;
	width:100px;	
	padding:15px;
}

.drop_down img{
	height:50px;
	width:50px;
}

.drop_down a{
	padding:0px;
	color:rgba(0,0,0,0.8);
}

.drop_down a:hover{
	color:black;
}

.login_tab{
	display:inline-block;
}
.login_tab img{
	margin-right:10px;
	height:25px;
	width:auto;
}




.heading{
	position:relative;
	left:0px;
	font-size:20px;
	font-family:segoesb;
	color:white;
}

.personalize_button{
	width:100px;
	margin:10px;
}

.welcome{
	position:relative;
	top:0px;
	opacity:1;
	height:200px;
	@include transition(all,0.5s,ease);
}

.blur{
	@include transition(all,0.5s,ease);
}

.avatars{
	position:relative;
	width:600px;
}

.avatars a:focus{
	background-color:orange;
}
.avatars a:hover{
	border:1px solid rgba(0,0,0,0.3);
}
.avatars a{
	width:100px;
	height:100px;
	border:1px solid white;
	background-color:white;
	border-radius:50px;
	margin:10px;
}

.avatar img{
	width:auto;
	height:75px;
}

.footer{
	position:relative;
	bottom:0px;
	padding:0px;
	font-size:11px;
	color:rgba(0,0,0,0.5);
	text-align:center;
	margin:10px;
}
.red{
	color:red !important;
	@include transition(all,0.5s,ease);
	animation: red_color 0.3s linear;
}

@-webkit-keyframes red_color{
	0%{
		background-color:#FCEBB6;
	}
	50%{
		background-color:#FF2400;
	}
	100%{
		background-color:#FCEBB6;
	}
	
}
@keyframes red_color{
	0%{
		background-color:#FCEBB6;
	}
	50%{
		background-color:#FF2400;
	}
	100%{
		background-color:#FCEBB6;
	}
	
}

.shake{
	animation: shk_textbox 0.5s linear;
}

@-webkit-keyframes shk_textbox {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shk_textbox {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}

.shake_button{
	animation: shk 0.5s linear;
}

@-webkit-keyframes shk {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
@keyframes shk {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}

.error_notif{
	position:absolute;
	bottom:45px;
	width:100%;
	height:30px;
	opacity:0;
	@include transition(all,0.5s,ease);
	z-index:1000;
}

.error_notif_show{
	opacity:1;
}

.error_notif h6{
	padding:10px 30px 10px 30px;
	background-color:rgba(0,0,0,0.7);
	color:white;
	@extend .box_shadow_light;
}