
<!-- <script>
	$(document).ready(function(){
	$(".1").change(function(){
	alert($(this).val().length);
	if ($(this).val().length > 1) {
	$(this).next('input').focus();
	}
	});
	});
	</script>
	--><div class="col-sm-12 centered centered_col nomargin" ng-controller="wifiregcontroller" ng-init="load_json_devices()">
	<h2>Devices</h2>
	
	<div class="modal fade" id="fill_details_modal" tabindex="-1" role="dialog" 
	aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="error_notif centered" ng-class="error_notif_show">
			<h6>{{notif_message_modal}}</h6>
		</div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
					data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Edit {{user_data_devices.data[currently_editing_device_index].name}}
					</h4>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Device Name</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].name!=''">
							<input type="text" ng-model="updated_name" class="form-control" placeholder="Type a choice name for your device">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].name)!=''">{{user_data_devices.data[currently_editing_device_index].name}}</label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Device Serial</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Serial!=''">
							<input type="text" ng-model="updated_serial" class="form-control" placeholder="Type your device's serial number">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Serial)!=''">{{user_data_devices.data[currently_editing_device_index].Serial}}</label>
					</div>
				</div>
				
				<div class="form-group">
					<script>
						
					</script>
					<label class="col-sm-3 control-label">Wireless_MAC</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Wireless_MAC!=''">
							<input type="text" ng-model="updated_wireless_mac[0]" class="form-control mac_input wireless_mac 1" placeholder="" maxlength="2" ng-change="updated_wireless_mac[0] = updated_wireless_mac[0].toUpperCase()">
							<input type="text" ng-model="updated_wireless_mac[1]" class="form-control mac_input wireless_mac 2" placeholder="" maxlength="2" ng-change="updated_wireless_mac[1] = updated_wireless_mac[1].toUpperCase()">
							<input type="text" ng-model="updated_wireless_mac[2]" class="form-control mac_input wireless_mac 3" placeholder="" maxlength="2" ng-change="updated_wireless_mac[2] = updated_wireless_mac[2].toUpperCase()">
							<input type="text" ng-model="updated_wireless_mac[3]" class="form-control mac_input wireless_mac 4" placeholder="" maxlength="2" ng-change="updated_wireless_mac[3] = updated_wireless_mac[3].toUpperCase()">
							<input type="text" ng-model="updated_wireless_mac[4]" class="form-control mac_input wireless_mac 5" placeholder="" maxlength="2" ng-change="updated_wireless_mac[4] = updated_wireless_mac[4].toUpperCase()">
							<input type="text" ng-model="updated_wireless_mac[5]" class="form-control mac_input wireless_mac 6" placeholder="" maxlength="2" ng-change="updated_wireless_mac[5] = updated_wireless_mac[5].toUpperCase()">
						</span>
						<span ng-if="user_data_devices.data[currently_editing_device_index].Wireless_MAC!=''">
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[0]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[1]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[2]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[3]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[4]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wireless_MAC[5]}}</label>
						</span>
						<!-- <label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Wireless_MAC)!=''">{{user_data_devices.data[currently_editing_device_index].Wireless_MAC}}</label> -->
						
					</div>
				</div>
				
				<div class="form-group" ng-show ="currently_editing_device_type=='laptop' || currently_editing_device_type=='desktop'">
					<label class="col-sm-3 control-label">Wired MAC</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Wired_MAC!=''">
							<input type="text" ng-model="updated_wired_mac[0]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[0] = updated_wired_mac[0].toUpperCase()">
							<input type="text" ng-model="updated_wired_mac[1]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[1] = updated_wired_mac[1].toUpperCase()">
							<input type="text" ng-model="updated_wired_mac[2]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[2] = updated_wired_mac[2].toUpperCase()">
							<input type="text" ng-model="updated_wired_mac[3]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[3] = updated_wired_mac[3].toUpperCase()">
							<input type="text" ng-model="updated_wired_mac[4]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[4] = updated_wired_mac[4].toUpperCase()">
							<input type="text" ng-model="updated_wired_mac[5]" class="form-control mac_input" placeholder="" maxlength="2" ng-change="updated_wired_mac[5] = updated_wired_mac[5].toUpperCase()">
						</span>
						<span ng-if="user_data_devices.data[currently_editing_device_index].Wired_MAC!=''">
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[0]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[1]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[2]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[3]}} :</label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[4]}} : </label>
							<label>{{user_data_devices.data[currently_editing_device_index].Wired_MAC[5]}}</label>
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Manufacturer</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Manufacturer!=''">
							<input type="text" ng-model="updated_manufacturer" class="form-control" placeholder="Type your device's Manufacturer">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Manufacturer)!=''">{{user_data_devices.data[currently_editing_device_index].Manufacturer}}</label>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Device Model</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Model!=''">
							<input type="text" ng-model="updated_model" class="form-control" placeholder="Type your device's Model Number">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Model)!=''">{{user_data_devices.data[currently_editing_device_index].Model}}</label>
					</div>
				</div>
				
				<div class="form-group" ng-show="currently_editing_device_type=='desktop'">
					<label class="col-sm-5 control-label">Wireless Adapter Manufacturer</label>
					<div class="col-sm-6 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Manufacturer!=''">
							<input type="text" ng-model="updated_wireless_adapter_manufacturer" class="form-control" placeholder="Type your device's Wireless Adapter Manufacturer">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Manufacturer)!=''">{{user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Manufacturer}}</label>
					</div>
				</div>
				
				<div class="form-group" ng-show="currently_editing_device_type=='desktop'">
					<label class="col-sm-5 control-label">Wireless Adapter Model</label>
					<div class="col-sm-6 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Model!=''">
							<input type="text" ng-model="updated_wireless_adapter_model" class="form-control" placeholder="Type your device's Wireless Adapter Model">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Model)!=''">{{user_data_devices.data[currently_editing_device_index].Wireless_Adapter_Model}}</label>
					</div>
				</div>
				
				<div class="form-group" ng-show="currently_editing_device_type=='phone'">
					<label class="col-sm-3 control-label">Device IMEI</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].IMEI!=''">
							<input type="text" ng-model="updated_imei" class="form-control" placeholder="Type your device's IMEI number" maxlength="16">
						</span>
						<label class="col-sm-3 control-label" ng-if="(user_data_devices.data[currently_editing_device_index].IMEI)!=''">{{user_data_devices.data[currently_editing_device_index].IMEI}}</label>
					</div>
				</div>
				
				<div class="form-group" ng-show="currently_editing_device_type=='phone'">
					<label class="col-sm-3 control-label">Mobile Number</label>
					<div class="col-sm-8 input-group">
						<span ng-hide="user_data_devices.data[currently_editing_device_index].Mobile_Number!=''">
							<input type="text" ng-model="updated_mobile_number" class="form-control" placeholder="Indian Mobile Number ONLY!" maxlength="10">
						</span>
						<label class="col-sm-3 control-label" ng-if="user_data_devices.data[currently_editing_device_index].Mobile_Number!=''">{{user_data_devices.data[currently_editing_device_index].Mobile_Number}}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"></label>
					<span class="input-group-btn" ng-if="user_details_devices_filled[currently_editing_device_index] == false">
						<button class="update_personal_info_button" ng-click="update_data_devices(currently_editing_device_index,user_data_devices.data[currently_editing_device_index].type)">Update</button>
					</span>	
				</div>
				<div class="form-group bootstrap-overrides">
					<label class="col-sm-3 control-label">A Little Help!</label>
					<div class="help-div">
						<a href="assets/res/findyourmac.pdf" class="plain_link" target="_blank">Find your MAC Id</a>
					</div>
					<div>
						<a href="assets/res/imei.pdf" class="plain_link" target="_blank">Find your device's IMEI</a>
					</div>
				</div>
				
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<h5>Click on a device to add.</h5>
	
	<span class="hr_nomargin"></span>
	<div class="centered col-sm-6">
		<span class="add_device centered" ng-click="add_device('laptop')">
			<img src="assets/img/laptop.png">
		</span>
		<span class="add_device centered" ng-click="add_device('desktop')">
			<img src="assets/img/desktop.png">
		</span>
		<span class="add_device centered" ng-click="add_device('phone')">
			<img src="assets/img/phone.png">
		</span>
		<span class="add_device centered" ng-click="add_device('tablet')">
			<img src="assets/img/tablet.png">
		</span>
	</div>
	<span class="hr_nomargin"></span>
	
	<div class="col-sm-12 added_devices nomargin">
		
		<div class="append_here arrange_into_cols col-sm-12 nomargin">
			<div ng-repeat="vals in user_data_devices.data">
				<div class="added_device_box centered centered_row" data-toggle="modal" data-target="#fill_details_modal" ng-click="view_device_details(vals.type,vals.name,$index)">
					<span class="centered added_device_box_img_box">
						<img src="assets/img/{{vals.type}}.png">
					</span>
					
					<span class="added_device_box_text_box">
						<b ng-if="vals.name!=''">{{vals.name}}</b>
						<b ng-if="vals.name==''">{{vals.type}}</b>
					</span>
				</div>
			</div>
		</div>
		
	</div>
	<span class="hr_nomargin"></span>
	<span class="hr"></span>
	
	<a href="#index"><button>Go back to index</button></a>
	<hr>
</div>						