<script>
	$(document).ready(
	function(){
		$(".agree_button").attr('disabled','disabled');
		$(".agree_button").addClass('button_disabled');
		$(".it_policy").scroll(function(){
			if ($(".it_policy")[0].scrollHeight - $(".it_policy").scrollTop() == $(".it_policy").outerHeight() ) {
				$(".agree_button").removeAttr('disabled');
				$(".agree_button").removeClass('button_disabled');
			}
		});
	});
</script>

<div class="col-sm-12 centered centered_col" ng-controller="wifiregcontroller">
	<h2>Pleae take your time to read this before you proceed.</h2>	
	<div class="hr"></div>
	
	<div class="col-sm-7 centered centered_col notification_panel">
		<h4>IT Policy</h4>
		<div class="hr"></div>
		<span class="centered_text wifireg_para_text it_policy">
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			Pages you view in incognito tabs won’t stick around in your browser’s history, cookie store, or search history after you’ve closed all of your incognito tabs. Any files you download or bookmarks you create will be kept. Learn more about incognito browsingGoing incognito doesn’t hide your browsing from your employer, your internet service provider, or the websites you visit.
			awdwa
		</span>
	<!--h5 class="please_wait" ng-init="please_wait()"><span ng-show="disable_agree">Please wait for {{secs}} secs</span></h5-->
		<div class="hr"></div>
		<span ng-click="agree_policy()">
			<button class="agree_button">I agree to 'em all!</button>
		</span>
	</div>
</div>