<div class="col-sm-12 centered centered_col nomargin" ng-controller="wifiregcontroller">
	<h2>Help</h2>
	
	
	<h5></h5>
	
	<span class="hr_nomargin"></span>
	<div class="centered col-sm-6">
		<span class="add_device centered">
			<img src="assets/img/email.png">
		</span>
		
	</div>
	<span class="hr_nomargin"></span>
	
	<h3>netadmin@karunya.edu</h3>
	<span class="hr"></span>
	
	<a href="#index"><button>Go back to index</button></a>
	<hr>
</div>						