<script>
	$(document).ready(
	function(){
	}
	);
</script>

<div class="col-sm-12 centered centered_col" ng-controller="wifiregcontroller">
	<h2>Hello there, Intern!</h2>
	<hr>
	<span class="hr_nomargin"></span>
	<div class="centered col-sm-6 nomargin">
		<a href="{{index_notification_route_you}}" class="nomargin">
		<span class="add_device centered centered_col you" ng-mouseover="show_notification('you',user_details_filled)">
			<img ng-show="home_icon_user" ng-src="{{home_icon_user}}">
			<!-- <h6><b>You</b></h6> -->
		</span>
		</a>
		<a href="{{index_notification_route_devices}}" class="nomargin">
			<span class="add_device centered centered_col devies" ng-mouseover="show_notification('devices',user_details_filled)">
				<img ng-show="home_icon_devices" ng-src="{{home_icon_devices}}">
				<!-- <h6><b>Devices</b></h6> -->
			</span>
		</a>
		<a href="{{index_notification_route_usage}}" class="nomargin">
		<span class="add_device centered centered_col usage" ng-mouseover="show_notification('usage',user_details_filled)">
			<img ng-show="home_icon_usage" ng-src="{{home_icon_usage}}">
			<!-- <h6><b>Usage</b></h6> -->
		</span>
		</a>
		<span class="add_device centered centered_col usage" ng-mouseover="show_notification('help',user_details_filled)">
			<img ng-show="home_icon_help" ng-src="{{home_icon_help}}">
			<!-- <h6><b>Help</b></h6> -->
		</span>
	</div>
	<span class="hr_nomargin"></span>
	
	<div class="col-sm-4 centered centered_col notification_panel">
		<span class="centered_text wifireg_para_text index_notification">
			<h4>{{index_notification_leading}}</h4>
			{{index_notification}}
		</span>
	</div>
	
	
	<hr></hr>
</div>