<div class="col-sm-12 centered centered_col" ng-controller="wifiregcontroller">
	<h2>Personal Details</h2>
	<div class="hr"></div>
	<div class="hr"></div>
	<!-- 	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" 
		data-dismiss="modal" aria-hidden="true">
		&times;
		</button>
		<h4 class="modal-title" id="myModalLabel">
		Edit {{user_data_type[currently_editing_index]}}
		</h4>
		</div>
		<div class="modal-body">
		<div class="form-group">
		<label for="regno" class="col-sm-2 control-label"></label>
		<div class="col-sm-8 input-group">
		<input type="text" class="form-control" id="regno" ng-model="updated_data">
		<span class="input-group-btn">
		<button class="btn btn-default update_personal_info_button" ng-click="update_data(updated_data)" type="button" data-dismiss="modal" aria-hidden="true">Update</button>
		</span>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div> -->
	
	<!-- <table class="user_details_table col-sm-6">
		<tr ng-repeat="vals in data" class="">
		<td class="col-sm-4 centered left_cell">
		<span>
		<b>
		{{data_type[$index]}}
		</b>
		</span>
		</td>
		<td class="col-sm-4 centered">
		<span>{{data[$index]}}</span>
		</td>	
		<td class="col-sm-4 centered right_cell">
		<span class="" ng-if="disable_edit[$index]">
		<button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal" ng-click="set_for_edit(data[$index],$index)">Edit</button>
		</span>
		</td>	
		</tr>
	</table>-->
	
	<table class="user_details_table col-sm-6">
		<tr ng-repeat="vals in user_data.data" class="">
			<form >
				<td class="col-sm-4 centered left_cell">
					<span>
						<b>
							{{vals.name}}
							<span ng-if="vals.required==true">*</span>
						</b>
					</span>
				</td>
				<td class="col-sm-4 centered">
					<span ng-show="vals.name =='residence_name' && vals.value == ''">
						<select ng-model="edited_user_value" class="select form-control">
							<option style="display:none" value="">Select Your Residence</option>
							<option ng-repeat="data in [{'key':'asdfasd','value':'awdaw'},{'key':'asdfasd','value':'ageh'}]" value="{{data.value}}">{{data.value}}</option>
						</select>
					</span>
					<span ng-if="!vals.value==''">{{vals.value}}</span>
					<span ng-hide="vals.name=='residence_name'">
						<span ng-hide="!vals.value==''">
							<input type="text" ng-model="edited_user_value" maxlength="{{vals.name=='room_number'?3:100}}" placeholder="Please fill this field">
						</span>
					</span>
				</td>	
				<td class="col-sm-4 centered right_cell">
					<span class="" ng-if="vals.value==''">
						<button class="btn btn-danger" ng-click="update_data(edited_user_value,$index,vals.name)">Update</button>
					</span>
				</td>
			</form>
		</tr>
	</table>
	<div class="hr"></div>
	<a href="#index"><button>Go back to index</button></a>
	
	<hr></hr>
	</div>		