<script>
	$(document).ready(
	function(){
	}
	);
</script>

<div class="col-sm-12 centered centered_col" ng-controller="wifiregcontroller">
	<h2>Internet Usage</h2>	
	<div class="hr"></div>
	<h5>Till date: 1.36TB</h5>
	<a href="#index"><button>Go back to index</button></a>
	<hr>
</div>