@font-face {
  font-family: aller;
  src: url(../fonts/Aller.ttf); }
@font-face {
  font-family: aller_light;
  src: url(../fonts/aller-light.woff); }
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%; }

body {
  background-color: rgba(0, 0, 0, 0.7); }

.container-fluid {
  height: 100%; }

.login_tab {
  opacity: 1;
  top: 0px;
  z-index: 500px;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.local_tab {
  color: white;
  opacity: 0;
  display: none;
  position: relative;
  top: 0px;
  width: 300px;
  padding: 10px;
  height: 400px !important;
  z-index: 400;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.description_class {
  width: 300px;
  height: 150px; }

.title_class {
  position: relative;
  width: 300px;
  height: 35px; }

.local_tab_links {
  height: 30px;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  color: white;
  background-color: transparent;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.local_tab_links img {
  width: auto;
  height: 20px; }

.local_tab_links:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.login_container {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-top: 60px;
  display: inline-block;
  height: 460px;
  width: 300px;
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.input_holder {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  height: 150px;
  width: 100%; }

.header {
  position: relative;
  bottom: 0px;
  bottom: -150px;
  width: 200px;
  height: 200px;
  left: 7px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  z-index: 500; }

.header:hover {
  background-color: rgba(0, 0, 0, 0.4); }

.header:active {
  background-color: rgba(0, 0, 0, 0.3); }

.img_links {
  position: relative;
  height: 100px;
  top: -79px;
  width: auto;
  overflow: hidden; }

.img_links img {
  height: 20px;
  width: auto; }

.password_auth, .username_auth {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }

.password_auth {
  left: 200px;
  top: 0px;
  opacity: 0;
  z-index: 0; }

.username_auth {
  left: 0px;
  top: 0px;
  z-index: 2; }

.logging_in_user {
  text-align: center;
  width: 200px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  color: white;
  font-size: 15px; }

.text_shadow, .local_tab_links, .logging_in_user, .logging_in_user_greet, .wrong_cred, .help, .footer_popup * {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }

.logging_in_user_greet {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px; }

.user_img {
  position: relative; }

.user_img img {
  background-color: white;
  height: 100px;
  width: auto;
  border-radius: 50px;
  box-shadow: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.wrong_cred {
  color: red;
  margin: 5px; }

.box_shadow, .login_container, .user_img img, .footer, .footer_popup, .header_popup {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3); }

.box_shadow_light, input[type="text"], input[type="password"], button, input[type="button"], .error_notif h6 {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }

.logo {
  position: relative;
  padding: 5px;
  margin: 5px; }

.logo img {
  position: relative;
  left: -17px;
  width: auto;
  height: 100px; }

a {
  font-size: 12px;
  color: white !important; }

a:hover {
  text-decoration: underline;
  outline: none; }

.hr {
  color: #b2b2b2;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
  background: gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
  opacity: 0.3;
  margin: 0px 0px 17px 0px;
  width: 50%;
  height: 2px; }

.hr_vertical {
  width: 1px !important;
  height: 75% !important; }

.centered {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.centered_horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.centered_row {
  -webkit-flex-direction: row !important;
  flex-direction: row !important; }

.centered_col {
  -webkit-flex-direction: column !important;
  flex-direction: column !important; }

.flex_end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex_start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center; }

.border_black {
  border: 1px solid black; }

input[type="text"], input[type="password"] {
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #404040;
  text-align: center;
  position: relative;
  left: 0px;
  top: 0px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  opacity: 1;
  box-shadow: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }

input[type="text"]:hover, input[type="password"]:hover {
  border: 1px solid rgba(0, 0, 0, 0.2); }

button, input[type="button"] {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 5px;
  border-radius: 2px;
  background-color: #F07818;
  border: none;
  width: 200px;
  height: 40px;
  outline: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  box-shadow: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease; }

.help {
  margin: 5px;
  color: white; }

button:hover, input[type="button"]:hover {
  background-color: #d06916; }

.hidden_field {
  display: none; }

.login_form_box {
  padding-bottom: 50px; }

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.img_info {
  top: -2px;
  height: 100%;
  margin: 10px;
  opacity: 0.5;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.img_info:hover {
  opacity: 1; }

.img_info img {
  height: 20px;
  width: auto; }

.footer a {
  padding: 5px; }

.footer span {
  color: rgba(255, 255, 255, 0.7); }

.footer_popup {
  position: absolute;
  opacity: 0;
  bottom: 50px;
  right: 0px;
  display: inline-block;
  padding: 20px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  z-index: 5; }

.footer_popup * {
  color: white; }

.footer_popup img {
  height: 40px;
  width: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: none; }

.footer_popup a:hover > img {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px; }

.header_popup {
  position: absolute;
  opacity: 0;
  top: 50px;
  right: 50px;
  display: inline-block;
  padding: 15px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  z-index: 5; }

.header_popup * {
  color: white; }

footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px; }

.wifireg_text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-family: aller; }

.red {
  color: red !important;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  animation: red_color 0.3s linear; }

@-webkit-keyframes red_color {
  0% {
    background-color: #FCEBB6; }
  50% {
    background-color: #FF2400; }
  100% {
    background-color: #FCEBB6; } }
@keyframes red_color {
  0% {
    background-color: #FCEBB6; }
  50% {
    background-color: #FF2400; }
  100% {
    background-color: #FCEBB6; } }
.shake {
  animation: shk_textbox 0.5s linear; }

@-webkit-keyframes shk_textbox {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
@keyframes shk_textbox {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
.shake_button {
  animation: shk 0.5s linear; }

@-webkit-keyframes shk {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
@keyframes shk {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
.error_notif {
  position: absolute;
  bottom: 45px;
  width: 100%;
  height: 30px;
  opacity: 0;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

.error_notif_show {
  opacity: 1; }

.error_notif h6 {
  padding: 10px 30px 10px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }

/*# sourceMappingURL=chang.css.map */
