@font-face {
  font-family: aller;
  src: url(../fonts/Aller.ttf); }
@font-face {
  font-family: aller_light;
  src: url(../fonts/aller-light.woff); }
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.container-fluid {
  height: 100%; }

.login_container {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-top: 60px;
  display: inline-block;
  height: 460px;
  width: 300px;
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

.input_holder {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  height: 150px;
  width: 100%; }

.password_auth, .username_auth {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1); }

.password_auth {
  left: 200px;
  top: 0px;
  opacity: 0;
  z-index: 0; }

.username_auth {
  left: 0px;
  top: 0px;
  z-index: 2; }

.logging_in_user {
  text-align: center;
  width: 200px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  color: white;
  font-size: 15px; }

.text_shadow, .logging_in_user, .logging_in_user_greet, .help {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }

.logging_in_user_greet {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  color: white;
  font-size: 15px; }

.user_img {
  position: relative; }

.user_img img {
  background-color: white;
  height: 100px;
  width: auto;
  border-radius: 50px;
  box-shadow: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.loading_bar {
  margin: 20px;
  width: 600px;
  height: 12px;
  padding: 5px;
  border-radius: 6px;
  background-color: transparent; }

.bar {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #e53739;
  box-shadow: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear; }

.bar_holder {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 50%;
  padding-top: 50px;
  z-index: 300; }

.doodle_holder {
  width: 100%;
  height: 100%;
  z-index: 100; }

.loading_bar_notice {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  text-align: center;
  z-index: 0; }

.seraph_adjust {
  padding-right: 5%; }

.box_shadow, .login_container, .user_img img, .footer, .footer_popup {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3); }

.box_shadow_inset, .img_links {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5) inset; }

.box_shadow_light, input[type="text"], input[type="password"], button, .error_notif h6 {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2); }

.logo {
  position: relative;
  padding: 5px;
  margin: 5px; }

.logo img {
  position: relative;
  left: -17px;
  width: auto;
  height: 100px; }

a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7) !important; }

a:hover {
  text-decoration: underline;
  outline: none; }

.hr {
  color: #b2b2b2;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
  background: gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
  opacity: 0.3;
  margin: 0px 0px 17px 0px;
  width: 50%;
  height: 2px; }

.hr_vertical {
  width: 1px !important;
  height: 75% !important; }

.centered {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.center_margin {
  padding-bottom: 3%; }

.centered_horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.centered_row {
  -webkit-flex-direction: row !important;
  flex-direction: row !important; }

.centered_col {
  -webkit-flex-direction: column !important;
  flex-direction: column !important; }

.flex_end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex_start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center; }

.border_black {
  border: 1px solid black; }

input[type="text"], input[type="password"] {
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  color: #404040;
  text-align: center;
  position: relative;
  left: 0px;
  top: 0px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  opacity: 1;
  box-shadow: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease; }

input[type="text"]:hover, input[type="password"]:hover {
  border: 1px solid rgba(0, 0, 0, 0.2); }

button {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 5px;
  border-radius: 2px;
  background-color: #F07818;
  border: none;
  width: 200px;
  height: 40px;
  outline: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  box-shadow: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease; }

.help {
  margin: 5px;
  color: white; }

button:hover {
  background-color: #d06916; }

.login_form_box {
  padding-bottom: 50px; }

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 35px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  z-index: 400; }

.footer a {
  padding: 5px;
  color: rgba(0, 0, 0, 0.7) !important; }

.footer span {
  color: rgba(0, 0, 0, 0.7); }

.img_info img {
  margin: 10px;
  height: 15px;
  width: auto; }

.img_links img {
  margin-right: 7px;
  height: 10px;
  width: auto; }

.img_links {
  padding: 10px;
  border-radius: 12px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1); }

.footer_popup {
  position: absolute;
  opacity: 0;
  bottom: 50px;
  right: 0px;
  display: inline-block;
  padding: 15px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  z-index: 5; }

.footer_popup * {
  color: black; }

.footer_popup img {
  height: 40px;
  width: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: none; }

.footer_popup a:hover > img {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px; }

footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px; }

.wifireg_text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  font-family: aller; }

.red {
  color: red !important;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  animation: red_color 0.3s linear; }

@-webkit-keyframes red_color {
  0% {
    background-color: #FCEBB6; }
  50% {
    background-color: #FF2400; }
  100% {
    background-color: #FCEBB6; } }
@keyframes red_color {
  0% {
    background-color: #FCEBB6; }
  50% {
    background-color: #FF2400; }
  100% {
    background-color: #FCEBB6; } }
.shake {
  animation: shk_textbox 0.5s linear; }

@-webkit-keyframes shk_textbox {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
@keyframes shk_textbox {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
.shake_button {
  animation: shk 0.5s linear; }

@-webkit-keyframes shk {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
@keyframes shk {
  0% {
    left: -10px; }
  16% {
    left: 9px; }
  33% {
    left: -6px; }
  50% {
    left: 5px; }
  66% {
    left: -2px; }
  83% {
    left: 1px; }
  100% {
    left: 0px; } }
.error_notif {
  position: absolute;
  bottom: 45px;
  width: 100%;
  height: 30px;
  opacity: 0;
  box-shadow: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

.error_notif_show {
  opacity: 1; }

.error_notif h6 {
  padding: 10px 30px 10px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }

/*# sourceMappingURL=keepalive.css.map */
